$primary-color: #0f7c90;
$secondary-color: #e44e52;
$tertiary-color: #741d51;
$background-secondary: #003640;
$dark-text: #3c3b37;
$light-text: #73726c;
$gray-bg: #f2f2f2;

$xs-phone: 320px;
$phone: 430px;
$tablet: 768px;
$desktop: 1024px;
