@import 'variables';
@import 'mixins';

html {
    @include box-sizing(border-box);
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    font-family: 'Raleway', sans-serif;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.oculto {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        padding: 1.4rem 0;
    }
}

.carrito-compras {
    position: relative;
    &:hover .contenido{
        position: absolute;
        display: block;
        right: 0;
        background-color: $gray-bg;
        padding: 1rem;
        max-width: 400px;

        img {
            max-width: 150px;
        }

        .boton {
            @include boton($primary-color);
        }
    }
}